@use './variables' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    .bodyOverflow {
        overflow-y: hidden;
    }
    body {
        font-family: $fontFamily;
        color: map-get($colors, text);
        background-color: map-get($colors, background);
        .green {
            color: map-get($colors, button);
        }
        .disabled {
            opacity: 0.5;
            button {
                background-color: map-get($colors, disabledBtn);
                opacity: 0.5;
                pointer-events: none;
            }
        }
        button {
            border: none;
            border-radius: map-get($borderRadius, button);
            background-color: map-get($colors, button);
            font-family: $fontFamily;
            font-weight: map-get($fonts, weights, l);
            font-size: map-get($fonts, sizes, xxs);
            line-height: map-get($fonts, lineHeight, xs);
            color: map-get($colors, white);
            a {
                color: map-get($colors, white);
                text-decoration: none;
            }
            &:hover {
                cursor: $cursor;
                background-color: map-get($colors, buttonActive);
            }
        }
        .headerBackground {
            background: map-get($backgrounds, backgroundMob);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 32px 24px 268px;
            @media screen and(min-width:1440px) {
                background: map-get($backgrounds, backgroundDesk);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                padding: 32px 24px 288px;
                min-height: 400px;
            }
            .logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1px 36px 1px;
                @media screen and(min-width:1440px) {
                    padding: 0;
                }
                .hamburger {
                    @media screen and(min-width:1440px) {
                        display: none;
                    }
                }
                .close {
                    @media screen and(min-width:1440px) {
                        display: none;
                    }
                }
            }
            .linearBackground {
                height: 100%;
                background: linear-gradient(
                    180deg,
                    #000000 0%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
            .navOverlay {
                padding: 32px 24px 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                @media screen and(min-width:1440px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 48px 166px 0 165px;
                }
                .hide {
                    display: none;
                    @media screen and(min-width:1440px) {
                        display: unset;
                    }
                }
                .nav {
                    background-color: map-get($colors, white);
                    border-radius: map-get($borderRadius, container);
                    border: $border;
                    @media screen and(min-width:1440px) {
                        background-color: unset;
                        border: none;
                    }
                    ul {
                        @media screen and(min-width:1440px) {
                            display: flex;
                            flex-direction: row;
                        }
                        .borders {
                            border-top: 1px solid map-get($colors, border);
                            border-bottom: 1px solid map-get($colors, border);
                            @media screen and(min-width:1440px) {
                                border-top: none;
                                border-bottom: none;
                            }
                        }
                        li {
                            color: map-get($colors, black);
                            font-size: map-get($fonts, sizes, s);
                            font-weight: map-get($fonts, weights, m);
                            line-height: map-get($fonts, lineHeight, m);
                            list-style-type: none;
                            padding: 22px 0 23px 23px;
                            &:hover {
                                cursor: $cursor;
                            }
                            @media screen and(min-width:1440px) {
                                color: map-get($colors, white);
                                font-size: map-get($fonts, sizes, xxxs);
                                padding: 0 0 0 33px;
                            }
                            a {
                                color: map-get($colors, black);
                                text-decoration: none;
                                &:hover {
                                    cursor: $cursor;
                                }
                                @media screen and(min-width:1440px) {
                                    color: map-get($colors, white);
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            padding: 0 24px 0;
            @media screen and(min-width:1440px) {
                padding: 0 355px 0;
                max-width: 1800px;
                margin: 0 auto;
            }
            p {
                font-size: map-get($fonts, sizes, xxs);
                line-height: map-get($fonts, lineHeight, m);
                @media screen and(min-width:1440px) {
                    font-size: map-get($fonts, sizes, xs);
                }
            }
            .section1 {
                border: $border;
                border-radius: map-get($borderRadius, container);
                text-align: center;
                background-color: map-get($colors, white);
                margin: -56px 0 0 0;
                padding: 0 24px 0;
                @media screen and(min-width:1440px) {
                    padding: 0 48px 0;
                    justify-content: space-between;
                }
                .mastercraftLogo {
                    margin: -28px 0 0 0;
                    padding: 0 0 24px 0;
                    @media screen and(min-width:1440px) {
                        padding: 0 0 28px 0;
                    }
                }
                h1 {
                    color: map-get($colors, black);
                    font-size: map-get($fonts, sizes, m);
                    line-height: map-get($fonts, lineHeight, m);
                    padding: 0 5px 16px 5px;
                    @media screen and(min-width:1440px) {
                        font-size: map-get($fonts, sizes, l);
                        line-height: map-get($fonts, lineHeight, m);
                    }
                }
                .buttonAndBookmark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 24px 0 40px 0;
                    @media screen and(min-width:1440px) {
                        padding: 40px 0px 48px;
                        justify-content: space-between;
                    }
                    button {
                        padding: 17px 42px 19px;
                        font-size: map-get($fonts, sizes, xs);
                    }
                    .bookmarkWrap {
                        &:hover {
                            cursor: $cursor;
                            .bookmark {
                                opacity: 0.7;
                            }
                        }
                        @media screen and(min-width:1440px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-radius: map-get($borderRadius, button);
                            background-color: map-get($colors, bar);
                        }
                        p {
                            display: none;
                            @media screen and(min-width:1440px) {
                                display: block;
                                color: map-get($colors, text);
                                font-weight: map-get($fonts, weights, l);
                                padding: 0 24px 0 16px;
                            }
                        }
                        .bookmark {
                            padding: 0 0 0 9px;
                            @media screen and(min-width:1440px) {
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .stats {
                border: $border;
                border-radius: map-get($borderRadius, container);
                text-align: center;
                background-color: map-get($colors, white);
                margin: 24px 0 0 0;
                padding: 8px 0 16px 0;
                @media screen and(min-width:1440px) {
                    display: grid;
                    padding: 0 48px;
                    grid-template-areas:
                        'total border1 backers border2 days .'
                        'scrollbar scrollbar scrollbar scrollbar scrollbar scrollbar';
                    justify-items: start;
                }
                .totalAmount {
                    grid-area: total;
                }
                .backerAmount {
                    grid-area: backers;
                }
                .daysLeft {
                    grid-area: days;
                }
                .border1 {
                    grid-area: border1;
                    justify-self: start;
                }
                .border2 {
                    grid-area: border2;
                    justify-self: start;
                }
                .border1,
                .border2 {
                    margin: 0 auto;
                    width: 80px;
                    border-top: 1px solid map-get($colors, border);
                    padding: 0;
                    @media screen and(min-width:1440px) {
                        margin: auto 0;
                        width: unset;
                        height: 63px;
                        border-top: none;
                        border-left: 1px solid map-get($colors, border);
                    }
                }
                div {
                    padding: 24px 0;
                    @media screen and(min-width:1440px) {
                        padding: 48px 0 37px 0;
                    }
                    h1 {
                        color: map-get($colors, black);
                        font-size: map-get($fonts, sizes, xl);
                        padding: 0 0 9px 0;
                    }
                }
                .progressbar {
                    padding: 0;
                    margin: 0px 24px 24px;
                    grid-area: scrollbar;
                    justify-self: center;
                    height: 12px;
                    border-radius: map-get($borderRadius, button);
                    background-color: map-get($colors, bar);
                    @media screen and(min-width:1440px) {
                        padding: 0;
                        width: 100%;
                        margin: 0px 24px 49px;
                    }
                    .fill {
                        border-radius: map-get($borderRadius, button);
                        padding: 0;
                        height: 12px;
                        background-color: map-get($colors, button);
                    }
                }
            }
            .about {
                border: $border;
                border-radius: map-get($borderRadius, container);
                background-color: map-get($colors, white);
                padding: 40px 23px 16px;
                margin: 24px 0 76px 0;
                @media screen and(min-width:1440px) {
                    padding: 48px;
                }
                .aboutArticle {
                    h2 {
                        color: map-get($colors, black);
                        font-size: map-get($fonts, sizes, s);
                        line-height: map-get($fonts, lineHeight, s);
                        padding: 0 0 24px;
                        @media screen and(min-width:1440px) {
                            font-size: map-get($fonts, sizes, m);
                            padding: 0 0 35px;
                        }
                    }
                    p {
                        padding: 0 0 35px 0;
                        @media screen and(min-width:1440px) {
                            padding: 0 0 40px;
                        }
                    }
                }
                .item {
                    margin: 0 0 24px 0;
                    border: $innerBorder;
                    border-radius: map-get($borderRadius, container);
                    background-color: map-get($colors, white);
                    padding: 24px;
                    @media screen and(min-width:1440px) {
                        padding: 38px 32px 32px;
                        display: grid;
                        grid-template-areas:
                            'itemTitle green'
                            'itemText itemText'
                            'numOfItems btn';
                    }
                    .itemTitle {
                        justify-self: start;
                        color: map-get($colors, black);
                        padding: 0 0 8px 0;
                        font-size: map-get($fonts, sizes, xxs);
                        @media screen and(min-width:1440px) {
                            font-size: map-get($fonts, sizes, s);
                            grid-area: itemTitle;
                        }
                    }
                    .numOfItems {
                        grid-area: numOfItems;
                        justify-self: start;
                    }
                    .green {
                        grid-area: green;
                        justify-self: end;
                    }
                    .itemText {
                        grid-area: itemText;
                        justify-self: start;
                    }
                    .btn {
                        grid-area: btn;
                        justify-self: end;
                    }
                    p {
                        padding: 0 0 24px 0;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        .numBold {
                            padding: 0 8px 0 0;
                            color: map-get($colors, black);
                            font-size: map-get($fonts, sizes, xl);
                            font-weight: map-get($fonts, weights, l);
                        }
                    }
                    button {
                        min-width: 157px;
                        padding: 15px 32px 16px 33px;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
        .overlay {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: map-get($colors, overlayBackground);
            padding: 121px 24px 120px;
            width: 100%;
            overflow: scroll;
            .modal {
                background-color: map-get($colors, white);
                border-radius: map-get($borderRadius, container);
                padding: 32px 24px 31px;
                @media screen and(min-width:1440px) {
                    padding: 48.5px 48px 48px;
                }
                @media screen and(min-width:1440px) {
                    max-width: 730px;
                    margin: 0 auto;
                }
                p {
                    font-size: map-get($fonts, sizes, xxs);
                    @media screen and(min-width:1440px) {
                        font-size: map-get($fonts, sizes, xs);
                    }
                }
                .modalHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 24px 0;
                    @media screen and(min-width:1440px) {
                        display: grid;
                        grid-template-areas:
                            '. x'
                            'title .';
                    }
                    h2 {
                        color: map-get($colors, black);
                        font-size: map-get($fonts, sizes, s);
                        grid-area: title;
                        @media screen and(min-width:1440px) {
                            font-size: map-get($fonts, sizes, mm);
                        }
                    }
                    svg {
                        grid-area: x;
                        &:hover {
                            cursor: $cursor;
                            path {
                                opacity: 1;
                            }
                        }
                    }
                }
                section {
                    .modalItem {
                        margin: 24px 0 0 0;
                        border: $innerBorder;
                        border-radius: map-get($borderRadius, container);
                        background-color: map-get($colors, white);
                        @media screen and(min-width:1440px) {
                            display: grid;
                            grid-template-areas:
                                'choose choose itemsLeft'
                                'text text text'
                                'enterPledge enterPledge enterPledge';
                        }
                        .zero,
                        .one,
                        .two,
                        .three {
                            grid-area: enterPledge;
                            border-top: $innerBorder;
                            display: flex;
                            flex-direction: column;
                            padding: 23.5px 24px 24px;
                            @media screen and(min-width:1440px) {
                                flex-direction: row;
                                justify-content: space-between;
                            }
                            div {
                                column-gap: 16px;
                                input {
                                    font-size: map-get($fonts, sizes, xxs);
                                    font-weight: map-get($fonts, weights, l);
                                    border: $border;
                                    border-radius: map-get(
                                        $borderRadius,
                                        button
                                    );
                                    background-image: map-get(
                                        $backgrounds,
                                        backgroundInput
                                    );
                                    background-repeat: no-repeat;
                                    background-position: top 16px left 24px;
                                    padding: 15px 0px 16px 41px;
                                    width: 80%;
                                    &:focus {
                                        outline: 1px solid
                                            map-get($colors, buttonActive);
                                    }
                                    &:hover {
                                        cursor: $cursor;
                                        outline: 1px solid
                                            map-get($colors, buttonActive);
                                    }
                                }
                                button {
                                    width: 115px;
                                    padding: 15px 25px 16px 26px;
                                    line-height: map-get(
                                        $fonts,
                                        lineHeight,
                                        xxs
                                    );
                                }
                            }
                        }
                        .enterPledge {
                            display: none;
                        }
                        .choose {
                            padding: 24px 0 24px 24px;
                            @media screen and(min-width:1440px) {
                                padding: 33px 0 10px 28px;
                                grid-area: choose;
                            }
                            .labels {
                                label:hover {
                                    cursor: $cursor;
                                    color: map-get($colors, button);
                                }
                                .green {
                                    @media screen and(min-width:1440px) {
                                        padding: 0 0 0 17px;
                                    }
                                }
                            }
                        }
                        .text {
                            padding: 24px 0 24px 24px;
                            @media screen and(min-width:1440px) {
                                padding: 0 28px 32px 76px;
                                grid-area: text;
                            }
                        }
                        .itemsLeft {
                            padding: 24px 0 24.5px 24px;
                            font-size: map-get($fonts, sizes, itemsLeft);
                            @media screen and(min-width:1440px) {
                                grid-area: itemsLeft;
                                justify-self: end;
                                padding: 30px 28px 0 0;
                            }
                        }
                        p {
                            line-height: map-get($fonts, lineHeight, m);
                            .bold {
                                color: map-get($colors, black);
                                font-size: map-get($fonts, sizes, s);
                                font-weight: map-get($fonts, weights, l);
                                padding: 0 8px 0 0;
                            }
                        }
                        div {
                            display: flex;
                            align-items: center;
                            .radioCircle {
                                border: $innerBorder;
                                border-radius: 50%;
                                width: 24px;
                                height: 24px;
                                input[type='radio'] {
                                    margin: 0 0 0 5px;
                                    appearance: none;
                                    border-radius: 50%;
                                    width: 12px;
                                    height: 12px;
                                    background-color: #fff;
                                    accent-color: map-get($colors, button);
                                }
                                input[type='radio']:checked {
                                    background-color: map-get($colors, button);
                                    box-shadow: 0 0 0 1px
                                        map-get($colors, button);
                                }
                            }

                            .labels {
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 0 0 16px;
                                @media screen and(min-width:1440px) {
                                    padding: 0 0 0 24px;
                                    flex-direction: row;
                                    align-items: baseline;
                                }
                                label {
                                    font-weight: map-get($fonts, weights, l);
                                    color: map-get($colors, black);
                                    padding: 0 0 8px 0;
                                    font-size: map-get($fonts, sizes, xxs);
                                }
                            }
                        }
                    }
                    .picked {
                        border: 1px solid #3cb3ab;
                    }
                }
            }
            .thankYou {
                margin-top: 22px;
                background-color: map-get($colors, white);
                border-radius: map-get($borderRadius, container);
                text-align: center;
                padding: 32px 24px 40px;
                @media screen and(min-width:1440px) {
                    max-width: 540px;
                    margin: 0 auto;
                    padding: 48px 48px 48.5px;
                }
                img {
                    margin: 0 0 24px 0;
                    @media screen and(min-width:1440px) {
                        width: 90px;
                        height: 90px;
                        margin: 0px 0px 47.5px;
                    }
                }
                h2 {
                    padding: 0 0 24px;
                    color: map-get($colors, black);
                    font-size: map-get($fonts, sizes, s);
                    @media screen and(min-width:1440px) {
                        font-size: map-get($fonts, sizes, mm);
                    }
                }
                p {
                    padding: 0 0 24px;
                    line-height: map-get($fonts, lineHeight, m);
                }
                button {
                    padding: 15px 32.5px 16px 33.5px;
                    line-height: map-get($fonts, lineHeight, xxs);
                }
            }
        }
    }
}
// sass --watch styles/style.scss styles/css/css.css
